@import url(components/modal.css);
@import url(components/form.css);

:root {
	--hue: 259;

	--primary: hsl(var(--hue), 83%, 53%);

	--primary-100: hsl(var(--hue), 83%, 96%);
	--primary-200: hsl(var(--hue), 83%, 90%);
	--primary-300: hsl(var(--hue), 83%, 73%);
	--primary-400: hsl(var(--hue), 83%, 63%);
	--primary-500: hsl(var(--hue), 83%, 53%);
	--primary-600: hsl(var(--hue), 83%, 43%);
	--primary-700: hsl(var(--hue), 83%, 33%);
	--primary-800: hsl(var(--hue), 83%, 23%);
	--primary-900: hsl(var(--hue), 83%, 13%);

	--black: hsl(var(--hue), 33%, 13%);
	--lightgray: hsl(var(--hue), 3%, 96%);
	--gray: hsl(var(--hue), 3%, 55%);
}

@font-face {
	font-family: Nunito;
	src: url(../fonts/Nunito/Nunito-VariableFont_wght.ttf);
}

html {
	font-family: Nunito, system-ui, sans-serif;
	font-size: 16px;
}

body,
nav,
main {
	display: flex;
}

body,
main {
	flex-direction: column;
}

body {
	box-sizing: border-box;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 0;
	height: 100vh;
	color: var(--black);
}

nav,
main {
	padding: 1rem;
}

nav {
	align-items: center;
	justify-content: end;
	height: 36px;
}

main {
	flex: 1;
}

svg {
	stroke: var(--black);
	stroke-width: 1.5;
}

.hide {
	display: none;
}

.pre-calculation,
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.pre-calculation > div:first-of-type {
	flex: 1;
}

.pre-calculation > div:last-of-type,
.container {
	padding: 1rem;
	margin-bottom: 1rem;
	background-color: var(--primary-100);
	border-radius: 1rem;
	color: var(--primary);
}

.pre-calculation > div:last-of-type,
.container div:last-of-type h2 {
	text-align: right;
}

h2,
h6 {
	font-size: 0.75rem;
	font-weight: 600;
	margin-bottom: 0.25rem;
}

h2:not(.container h2, .pre-calculation > div:last-of-type h2),
h6 {
	color: var(--gray);
}

button {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	outline: none;
	background-color: transparent;
}

.value {
	font-size: 2rem;
	font-weight: 700;
	margin-top: 0;
}

.container p.value {
	margin-bottom: 0;
}

.counter {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 1rem;
}

.counter svg {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: var(--primary-200);
	stroke: var(--primary);
}

.numpad {
	flex: 1;
	display: grid;
	grid-template-columns: auto auto auto;
	text-align: center;
}

.numpad button:hover {
	background-color: var(--lightgray);
}

.numpad button {
	padding: 1rem;
	font-size: 1.5rem;
	border-bottom: 1px solid var(--lightgray);
	color: inherit;
}

.numpad button:nth-of-type(1) {
	border-top: 1px solid var(--lightgray);
}

.numpad button:nth-of-type(2) {
	border-top: 1px solid var(--lightgray);
}

.numpad button:nth-of-type(3) {
	border-top: 1px solid var(--lightgray);
}

.numpad button:nth-of-type(2) {
	border-left: 1px solid var(--lightgray);
	border-right: 1px solid var(--lightgray);
}

.numpad button:nth-of-type(5) {
	border-left: 1px solid var(--lightgray);
	border-right: 1px solid var(--lightgray);
}

.numpad button:nth-of-type(8) {
	border-left: 1px solid var(--lightgray);
	border-right: 1px solid var(--lightgray);
}

.numpad button:nth-of-type(11) {
	border-left: 1px solid var(--lightgray);
	border-right: 1px solid var(--lightgray);
}
